<div class="ui top attached tabular menu">
	<a class="active item" data-tab="first">Code</a>
	<a class="item" data-tab="second">Preview</a>
</div>
<div class="ui bottom attached active tab segment" data-tab="first">
	<form class="ui form" ng-submit="savePost()">
		<div class="field">
			<label>Post title</label>
			<input type="text" ng-model="postData.title" required="">
		</div>

		<div class="field">
			<label>Post description</label>
			<textarea ng-model="postData.description" required="" rows="3"></textarea>
		</div>

		<div class="field">
			<label>Post content</label>
			<textarea ng-model="postData.content" required="" rows="10"></textarea>
		</div>

		<div class="field">
			<label>Post category</label>
			<select ng-model="postData.category" required="">
				<option value="frontend">frontend</option>
				<option value="backend">backend</option>
				<option value="efficiency">efficiency</option>
				<option value="news">news</option>
			</select>
		</div>

		<div class="field">
			<label>Post tags</label>
			<input type="text" ng-model="postData.tags" required="">
		</div>

		<div class="field clearfix">
			<button type="submit" class="ui small green button left floated">
				Update now!
			</button>
			<button type="button" ng-if="isEdit" ng-click="deletePost();" class="ui mini red button right floated">
				Delete this post
			</button>
		</div>
	</form>
</div>
<div class="ui bottom attached tab segment" data-tab="second">
	<md ng-model="postData.content"></md>
</div>